article{display: flex;margin-top:10px;}
.vuelo:hover{font-size:1.5em;padding:10px;cursor:pointer}
.vuelo{background-color:green;height:80px;}
.header{font-family:'Bungee Inline';}
p{font-family:'Ubuntu';}
img{background-color:pink;}
.p{background-color:orange;margin-top:0px;}
.informacion{text-align:center;}
body{min-width: 200px}
.informacion header{font-size: 2em;text-decoration: overline}
.footer{height:100px;background-color:gray;}
.img1 {background:url('iconos.png');height:50px;background-repeat:no-repeat;width:45px}
.img2 {background:url('iconos.png')-75px;height:50px;background-repeat:no-repeat;width:45px}
.img3 {background:url('iconos.png')-150px;height:50px;background-repeat:no-repeat;width:45px}
.img4 {background:url('iconos.png')-218px;height:50px;background-repeat:no-repeat;width:45px}
footer a{width:200px;display:inline-block;background-repeat:no-repeat;padding-top:0px}


.logo{background-color:blue;height:100px}
.cabecera{background-color:green;height:100px}
.iconomenu{background-image:url('menu.svg');background-repeat:no-repeat;width:50px;height:50px;
background-color:;background-position:center;cursor:pointer}
.menu{background-color:;flex-direction:column;display:none}
.menu a{flex:1 1 auto;}
.menu1{background-color:blue}
.menu2{background-color:white}
.menu3{background-color:yellow}
.menu4{background-color:gray}
.menu5{background-color:lightgreen}
.menu6{background-color:aqua}
.menu7{background-color:orange}
.menu8{background-color:pink}

@media(min-width:38.5em){
section{display:flex}
img{padding:10px;}
.vuelo:hover{font-size:1.5em;}
.pais{padding-left:15px;}
.p{margin-top:10px;}
.section2{display:flex;}
.section2 img{height:400px;}
.fotopais{margin-top:150px;}
}

@media(min-width:50.5em){
.section2{display:flex;flex-direction:column;}
.columna{column-count:2;column-width:50px;}
.fotopais{margin-top:0px;} 
.menu{flex-direction:row}

}
