.tituloimagen
		{
			position: relative;
			bottom:40px;
			left:0px;
			color:aqua;
			padding:2px 10px;
			font-weight:bold;
		}


.header{font-family:'Bungee Inline';}
.Menu{margin-top:-80px;}
.informacion{background-color:green}
.titulo{background-color:yellow;padding:20px;font-size:2em;text-decoration:underline}
p{font-family:'Ubuntu';}
.informacion img{background-color:pink;padding:20px}
.imagen:hover{}
.titulocoche{background-color:orange;font-size:1.5em}
.vehiculos article{background-color:blue;}
.coches{margin-top:100px;}
.decoracion{text-decoration:overline;cursor:pointer}
.caso1{background-color: lightgreen}
.caso2{background-color: yellow}
.caso3{background-color: green}
.caso4{background-color: orange}

.footer{height:100px;background-color:gray;}
.img1 {background:url('iconos.png');height:50px;background-repeat:no-repeat;width:45px}
.img2 {background:url('iconos.png')-75px;height:50px;background-repeat:no-repeat;width:45px}
.img3 {background:url('iconos.png')-150px;height:50px;background-repeat:no-repeat;width:45px}
.img4 {background:url('iconos.png')-218px;height:50px;background-repeat:no-repeat;width:45px}
footer a{width:200px;display:inline-block;background-repeat:no-repeat;padding-top:0px}

.logo{background-color:blue;height:100px}
.cabecera{background-color:green;height:100px}
.iconomenu{background-image:url('menu.svg');background-repeat:no-repeat;width:50px;height:50px;
background-color:;background-position:center;cursor:pointer}
.menu{background-color:;flex-direction:column;display:none}
#menus article:first-child:hover + article:last-child{border:dotted 5pt white}
.menu a{flex:1 1 auto;}
.menu1{background-color:blue}
.menu2{background-color:white}
.menu3{background-color:yellow}
.menu4{background-color:gray}
.menu5{background-color:lightgreen}
.menu6{background-color:aqua}
.menu7{background-color:orange}
.menu8{background-color:pink}






@media(min-width:38.5em){
.Menu{margin-top:0px;}
.menuflex{margin-left:0}
.informacion section{margin-top:500px}
#Menu{display: flex;flex-direction: column;}
#Deportivos{display:flex;}
#Deportivos{background-color:;margin-top:-10px;}
.tituloimagen p{margin:auto;}
.vehiculos{display:flex;flex-direction:column;}
.vehiculos P:first-child{margin-left:-50px;margin-top:80px;}
.vehiculos p{padding:15px;margin-left:-50px;margin-top:-10px;}
.caso1{background-color: pink;flex:1 1 10%;}
.caso2{background-color: yellow;flex:1 1 10%;}
.caso3{background-color: green;flex:1 1 10%;}
.caso4{background-color: orange;flex:1 1 10%;}

}

@media(min-width:50.5em){
.grande{display:flex;flex-direction:column}
.posiciongrande{display:flex;}
.posiciongrande div:nth-child(2){align-self:flex-start}
.titulocoche{align-self:flex-end}
.vehiculos{flex-direction:row;}
.vehiculos p{margin-top:80px;margin-left:1px;flex-wrap:wrap;}
.img{width:150px;height:50px;}
.menu{flex-direction:row}
  
}