.header{font-family:'Bungee Inline';}
.img{justify-content:space-around;text-align:center;}
p{text-align:center;font-family:'Ubuntu';}
.content{border:2px solid black;}
h1{text-align:center;}
.precio{background-color:aqua;display:flex;flex-direction:column}
.ciudad{background-color:lightgreen;float:left;text-align:left;}

.precio{display:flex;flex-direction:column;justify-content:space-around;}
.p1{display:flex;flex-direction:column}

.footer{background-color:gray;}
.img1 {background:url('iconos.png');height:50px;background-repeat:no-repeat;width:45px}
.img2 {background:url('iconos.png')-75px;height:50px;background-repeat:no-repeat;width:45px}
.img3 {background:url('iconos.png')-150px;height:50px;background-repeat:no-repeat;width:45px}
.img4 {background:url('iconos.png')-218px;height:50px;background-repeat:no-repeat;width:45px}
footer a{width:200px;display:inline-block;background-repeat:no-repeat;padding-top:0px}

.logo{background-color:blue;height:100px}
.cabecera{background-color:green;height:100px}
.iconomenu{background-image:url('menu.svg');background-repeat:no-repeat;width:50px;height:50px;
background-color:;background-position:center;cursor:pointer}
.menu{background-color:;flex-direction:column;display:none}

.menu a{flex:1 1 auto;}
.menu1{background-color:blue}
.menu2{background-color:white}
.menu3{background-color:yellow}
.menu4{background-color:gray}
.menu5{background-color:lightgreen}
.menu6{background-color:aqua}
.menu7{background-color:orange}
.menu8{background-color:pink}

@media(min-width:38.5em){

.p1{justify-content:space-around;margin:auto;}
.image{display:flex;flex-direction:column;align-content:center}
.section{display:flex}
}
@media(min-width:50.5em){
.precio{flex-direction:row}
.section{display:flex;flex-direction:column}
.p1{flex-direction:row;}
.menu{flex-direction:row}
	
}