.header{font-family:'Bungee Inline';text-align:center;}
.img{display:flex;justify-content:center}
.Menu{border:2px dashed yellow;text-align:center;justify-content:space-around;margin-top:10px;font-family:'Bungee Inline';}
.content{display:flex;flex-direction:column}
.titulos{background-color:blue;color:white;}
h1{background-color:yellow;font-family:'Bungee Inline';}
.ult{font-family:'Ubuntu';}
.contenido{border:2px solid black;background-color:green;margin-top:20px;}

.footer{height:100px;background-color:gray;}
.img1 {background:url('iconos.png');height:50px;background-repeat:no-repeat;width:45px}
.img2 {background:url('iconos.png')-75px;height:50px;background-repeat:no-repeat;width:45px}
.img3 {background:url('iconos.png')-150px;height:50px;background-repeat:no-repeat;width:45px}
.img4 {background:url('iconos.png')-218px;height:50px;background-repeat:no-repeat;width:45px}
footer a{width:200px;display:inline-block;background-repeat:no-repeat;padding-top:0px}

.logo{background-color:blue;height:100px}
.cabecera{background-color:green;height:100px}
.iconomenu{background-image:url('menu.svg');background-repeat:no-repeat;width:50px;height:50px;
background-color:;background-position:center;cursor:pointer}
.menu{background-color:;flex-direction:column;display:none}
.menu a{flex:1 1 auto;}
.menu1{background-color:blue}
.menu2{background-color:white}
.menu3{background-color:yellow}
.menu4{background-color:gray}
.menu5{background-color:lightgreen}
.menu6{background-color:aqua}
.menu7{background-color:orange}
.menu8{background-color:pink}

@media(min-width:38.5em){
.content{display:flex;flex-direction:row}
.contenido{background-color:green;}
.menu{flex-direction:row}
}

