.header{text-align:center;font-family:'Bungee Inline';}
p{font-family:'Ubuntu';}
.img{justify-content:space-around;text-align:center;}
.central{border:2px solid black;}
.publi{background-color: yellow;height: 200px;font-family:'Ubuntu';text-align:center;}
.contenido{background-color: green;height: 300px}
.section{margin-top:20px;}
.row div:hover{font-size:1.5em;cursor:pointer;}
.publi2{display:flex;flex-direction:column}

.logo{background-color:blue;height:100px}
.cabecera{background-color:green;height:100px}
.iconomenu{background-image:url('menu.svg');background-repeat:no-repeat;width:50px;height:50px;
background-color:;background-position:center;cursor:pointer}
.menu{background-color:;flex-direction:column;display:none}
.menu a{flex:1 1 auto;}
.menu1{background-color:blue}
.menu2{background-color:white}
.menu3{background-color:yellow}
.menu4{background-color:gray}
.menu5{background-color:lightgreen}
.menu6{background-color:aqua}
.menu7{background-color:orange}
.menu8{background-color:pink}


@media(min-width:38.5em){
.publi2{display:flex;justify-content:space-around;flex-direction:row}
}

@media(min-width:50.5em){
.image{display:flex;justify-content:space-around;}
.menu{flex-direction:row}
}
