.grid-container {
width : 100%;
max-width : 1200px;

}

.row:before,
.row:after {
content : '';
display : table;
clear: both;
}

.col-s-1 {
width: 8.333%;
}
.col-s-2 {
width: 16.666%;
}
.col-s-3 {
width: 24.999%;
}
.col-s-4 {
width: 33.333%;
}
.col-s-5 {
width: 41.666%;
}
.col-s-6 {
width: 49.999%;
}
.col-s-7 {
width: 58.333%;
}
.col-s-8 {
width: 66.666%;
}
.col-s-9 {
width: 74.999%;
}
.col-s-10 {
width: 83.333%;
}
.col-s-11 {
width: 91.666%;
}
.col-s-12 {
width: 100%;
}
.grid-container * {
box-sizing: border-box;
}

[class|='col'] {
float: left;
min-height : 1px;
width: 16,66%;
padding: 20px;
text-align:center;
}

@media(min-width:38.5em){
.grid-container {
width : 100%;
max-width : 1200px;
}

.row:before,
.row:after {
content : '';
display : table;
clear: both;
}

.col-m-1 {
width: 8.333%;
}
.col-m-2 {
width: 16.666%;
}
.col-m-3 {
width: 24.999%;
}
.col-m-4 {
width: 33.333%;
}
.col-m-5 {
width: 41.666%;
}
.col-m-6 {
width: 49.999%;
}
.col-m-7 {
width: 58.333%;
}
.col-m-8 {
width: 66.666%;
}
.col-m-9 {
width: 74.999%;
}
.col-m-10 {
width: 83.333%;
}
.col-m-11 {
width: 91.666%;
}
.col-m-12 {
width: 100%;
}
.grid-container * {
box-sizing: border-box;
}

[class|='col'] {
float: left;
min-height : 1px;
width: 16,66%;
padding: 20px;
text-align:center;
}
  
}

@media(min-width:50.5em){
.grid-container {
width : 100%;
max-width : 1200px;
display:flex;
flex-direction: column
}

.row:before,
.row:after {
content : '';
display : table;
clear: both;
}

.col-1 {
width: 8.333%;
}
.col-2 {
width: 16.666%;
}
.col-3 {
width: 24.999%;
}
.col-4 {
width: 33.333%;
}
.col-5 {
width: 41.666%;
}
.col-6 {
width: 49.999%;
}
.col-7 {
width: 58.333%;
}
.col-8 {
width: 66.666%;
}
.col-9 {
width: 74.999%;
}
.col-10 {
width: 83.333%;
}
.col-11 {
width: 91.666%;
}
.col-12 {
width: 100%;
}
.grid-container * {
box-sizing: border-box;
}

[class|='col'] {
float: left;
min-height : 1px;
width: 16,66%;
padding: 20px;
text-align:center;
}
 
}