div {text-align: center;font-size:0.9em;width:320px;font-weight:bold;margin-top:40px;float:left}
div ul {list-style-type: none;}
div ul li{width: 162px;}
div ul li ul li {border-top: solid 1px #fff;}
div ul li a {display: block;text-decoration: none;color: orange;background-color:green;border: solid 1px #fff;border-top: none;padding: 8px;position: relative;}

div ul li:hover {position: relative;color:orange;}
div ul li a:hover{background-color:green;color:yellow;position: relative;}
div ul li a:last-child{color:orange}
div ul li a:last-child:hover{color:yellow}

div ul li a{display: block!important;display: none;position: relative;}
div ul li ul {display: none;}
div ul li a:hover ul, div ul li:hover ul {display: block;position: absolute;top:-1px!important;top: -31px;margin-left:121px;}
div ul li ul li a {width: 160px;background-color:green;color:orange;}
div ul li ul li a:hover {position: relative;background-color:green;color:orange}
